.addButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  
    &:hover {
      opacity: 0.8;
    }
  }
  
  .icon {
    width: 20px;
    height: 20px;
  }
  