@import "../../styles/_variables.less";
@import "../../styles/_mixins";

.image-icon {
	display: inline-flex;

	&-extra-small {
		width: 20px;
	}

	&-small {
		width: 35px;
	}

	&-normal {
		width: 40px;
	}

	&-large {
		width: 50px;
	}

	&-extra-large {
		width: 25px;
	}

	&-auto {
		width: 1em;
	}
}
