@import "../../styles/_variables.less";
@import "../../styles/_mixins";

.image-icon {
	display: inline-flex;

	&-extra-small {
		width: 20px;
		height: 20px;
	}

	&-small {
		width: 30px;
		height: 30px;
	}

	&-normal {
		width: 35px;
		height: 35px;
	}

	&-large {
		width: 45px;
		height: 45px;
	}

	&-extra-large {
		width: 25px;
		height: 25px;
	}

	&-auto {
		width: 1em;
		height: 1em;
	}
}
