@import "../../../../styles/_variables.less";

.side-bar {
	height: calc(@window-height - 45px);
	justify-content: center;
	align-content: baseline;
	padding: 20px 0;
	position: fixed;

	svg {
		cursor: pointer;
	}
}
