@import '../../styles/_variables.less';
@import '../../styles/_mixins.less';

.rooms {
	display: flex;
	height: calc(100vh - 149px);
	overflow: scroll;
}

.room-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	max-width: 70%;
 	justify-content: space-between;
	align-content: baseline;
	margin-top: -20px;

	.lt-md({
		width: 40%;
	});
}

.summary {
	margin-left: 15px;
	width: 40%;

	img {
		max-width: 50%;
	}

	.lt-md({
		width: 56%;
	});
}

.intersect {
	height: 47px;
	border-bottom: 1px solid @color-black;
	display: flex; 
	align-items: center;
	justify-content: space-between; 
	padding: 0 16px; 
}

.room-number {
	font-size: 16px;
	font-weight: 400;
}  

.room-type {
	font-size: 16px;
}

.status {
	padding-left: 20px;
	font-weight: 400;
	font-size: 14px;
	display: flex;  
	align-items: center;  
	flex-grow: 1;
}

.price {
	padding-left: 20px;
	padding-left: 20px;
	font-weight: 400;
	font-size: 14px;
	display: flex;  
	align-items: center;  
	flex-grow: 1;
}

.logo {
	padding: 10px;
	display: flex;
	position: relative;
	justify-content: right;

	svg {
		cursor: pointer;
		background-color: @color-main;
		border-radius: 10px;
		padding: 2px;
	}
}

.add {
	position: absolute;
	bottom: 0;
	right: 0;
}

.amenities {
	position: absolute;
	bottom: 0;
}

.amenities-tag {
	border-radius: 20px;
	color: @color-black !important;
	margin-right: 10px;
}

.info-label {
	width: 55px;
	margin-top: 0 !important;
}

.tag {
	color: @color-black !important;
}

.info {
	flex-direction: column;
	position: relative;

	div {
		margin-top: 10px;
	}
}